//- includes/header.jade
header
    div.container-fluid
        div.row
            div.col-xs-12
                nav.navbar.navbar-default.navbar-fixed-top
                    div.container-fluid
                        div.navbar-header
                            button.navbar-toggle.collapsed.navbar-btn.btn.btn-default(type="button", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
                                span.glyphicon.glyphicon-menu-hamburger
                            a.navbar-brand(href="/", alt="Refly.xyz") Refly
                        div.collapse.navbar-collapse.navbar-right#navbar-collapse
                            ul.nav.navbar-nav
                                li
                                    a(href="/info") Info
                                li
                                    a(href="/info") Terms
                                li
                                    a(href="/info") FAQ
                                li
                                    a(href="/info") Twitter
