//- includes/head.jade
head
    title Refly.xyz
    link(href=assetFingerprint('/css/bootstrap.min.css'), rel='stylesheet', type='text/css')
    link(href=assetFingerprint('/css/refly.css'), rel='stylesheet', type='text/css')
