div#content
   header
       img(src='/img/logo.png')
   div#left-pane
       div#search-view
           fieldset
               input#txtreference(type='text', class='ry-input-text', name='reference', placeholder="Reference")
           div#results
               ul#resultlist  
       div#tree-view
       div#outline-view
    div#result
