//- cookies.jade
doctype html
html
    include ./includes/head.jade
    body
        include ./includes/header.jade
        div.container
          div.row
            div.col-xs-12
              h1 COOKIES POLICY
              p
                strong Cookies 
                | are small text files that are stored by your web browser that allow your preferences to be recorded when visiting the website, as well as identifying you as user.
              p.bo Enabling cookies in your browser 
                strong refly.xyz 
                | gets your implied consent to use them.
              h2 Whay kind of cookies does refly.xyz use?
              p 
                strong refly.xyz 
                | uses Session Cookies, that are stored only temporarily during a browsing session and are deleted from the user&rsquo;s device when the browser is closed.
              h2 Is it possible to disable cookies?
              p You can control and/or delete cookies as you wish. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed.
              p.box If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.
              p For details:
                  ul
                    li
                        a(href='http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647', target='_blank') Chrome
                    li
                        a(href='http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9', target='_blank') Explorer
                    li
                        a(href='http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we', target='_blank') Firefox
                    li
                        a(href='http://support.apple.com/kb/ph5042', target='_blank') Safari
              p.box You can contact with the administrator contact[@]refly.xyz, in case you have any doubts about this policy.
        include ./includes/footer.jade
