div.center-block
    div.footer-links
        a(href='http://xuaps.com/', target='_black') Legal
        a(href='http://xuaps.com/', target='_black') Team
        a(href='http://xuaps.com/', target='_black') Contact
    div.copyright
        span Copyright 2014 refly
    div.footer-logos
        a(href='http://xuaps.com/', target='_black')
            img(src='img/logo-xuaps.png')
