//- info.jade
doctype html
html
    include ./includes/head.jade
    body
        include ./includes/header.jade
        div.container
            div.row
                div.col-xs-12
                    h1 
                        strong Imprint
                    h3 Refly.xyz is a proposal offered by:
                    br
                    p María Doval Marcos 35477751K
                    p Alcalde Rey Daviña n2-2B
                    p 36600 Vilagarcía de Arousa
                    br
                    h3 Contact phone
                    p +34606328973
                    br
                    h3 Email
                    p contact@refly.xyz
                    br
                    h3 Despite carefully monitoring all contents, we do not assume any liability neither for the contents of external links or the contents of references. Their operators shall be solely responsible for the contents of the linked websites and the references.
       include ./includes/footer.jade

