html
	head
		title Refly - Reference of references
		link(href='/css/WebClient.css', media='screen', rel='stylesheet', type='text/css')
		link(href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css', media='screen', rel='stylesheet', type='text/css')
		script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
		script(src='http://code.jquery.com/jquery-1.10.2.js', type='text/javascript')
		script(src='http://code.jquery.com/ui/1.11.1/jquery-ui.js', type='text/javascript')
		script(src='/js/markdown.js', type='text/javascript')
		script(src='/js/jquery.history.js', type='text/javascript')
		script(src='/js/WebClient/utils.js', type='text/javascript')
		script(src='/js/WebClient/HistoryControl.js', type='text/javascript')
		script(src='/js/jade-templates.js', type='text/javascript')
		script(src='/js/WebClient/Reference.js', type='text/javascript')
		script(src='/js/WebClient/LiveSearch.js', type='text/javascript')
		script(src='/js/WebClient/ContentViewer.js', type='text/javascript')
		script(src='/js/WebClient/MarkdownViewer.js', type='text/javascript')
		script(src='/js/WebClient/ResultList.js', type='text/javascript')
		script(src='/js/WebClient/TreeView.js', type='text/javascript')
		script(src='/js/WebClient/OutlineView.js', type='text/javascript')
		script(src='/js/WebClient.js', type='text/javascript')
	body
		div#container
			include ./landingpage.jade
