html
    head
        link(href='/css/WebClient.css', media='screen', rel='stylesheet', type='text/css')
        script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
        script(src='/js/markdown.js', type='text/javascript')
        script(src='/js/WebClient.js', type='text/javascript')
    body
        p(id='breadcrumb')
        p(id='result')
        header
            h1 Slash
            fieldset Reference:
                input(type='text', name='reference')
                input(type='submit', value='Search')
                br
                table(id='results')
        input(type='hidden', name='docset', value='#{docset}')
        input(type='hidden', name='type', value='#{type}')
        input(type='hidden', name='ref', value='#{reference}')
