html
    head
        title Refly - Reference of references
        link(href='/css/WebClient.css', media='screen', rel='stylesheet', type='text/css')
        script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
        script(src='/js/markdown.js', type='text/javascript')
        script(src='/js/jade-templates.js', type='text/javascript')
        script(src='/js/WebClient/Reference.js', type='text/javascript')
        script(src='/js/WebClient/MarkdownViewer.js', type='text/javascript')
        script(src='/js/WebClient/ResultList.js', type='text/javascript')
        script(src='/js/WebClient/TreeView.js', type='text/javascript')
        script(src='/js/WebClient/OutlineView.js', type='text/javascript')
        script(src='/js/WebClient.js', type='text/javascript')
    body
        div(id='content')
            div(id='left-pane')
                div(id='search-view')
                    fieldset
                        input(type='text', class='ry-input-text', name='reference', placeholder="Reference")
                        input(type='submit', class='ry-btn', value='Search')
                        br
                        table(id='results')
                div(id='tree-view')
                div(id='outline-view')
            div(id='result')
        header
            img(src='/img/logo.png')
        input(type='hidden', name='uri', value='#{uri}')
