//- info.jade
doctype html
html
    include ./includes/head.jade
    body#offer
        include ./includes/header.jade
        div.container-fluid
            div.row.white-row.landing-row
                div.col-xs-12.text-center
                    h1 
                        strong Improve your coding experience with the best tool
                    br
                    img(src="img/desktop.png")
                    br
                    br
            div.row.black-row.landing-row
                div.col-xs-4.text-center.col-xs-offset-2
                    div.v-center
                        div.content
                            h2 Tired of looking for the proper documentation through the whole Internet. 
                div.col-xs-4.text-center
                    div.v-center
                        div.content
                            img(src="img/search.png")
            div.row.totalwhite-row.landing-row
                div.col-xs-4.text-center.vicenter.col-xs-offset-2
                    div.v-center
                        div.content
                            img(src="img/cycle.png")
                div.col-xs-4.text-center.vcenter
                    div.v-center
                        div.content
                            h2 Trying to improve your workflow and eager to find a more efficient way to do these requests. 
            div.row.totalblack-row.lan
                div.col-xs-4.col-xs-offset-4.text-center
                    br
                    img(src="img/idea.png")
                div.col-xs-8.text-center.col-xs-offset-2
                    h2 What if you could make every search from a single place, even from your IDE. Imagine selecting your own technologic stack and make either a single or a multiple references search, from any device, any platform with your preferences synchronized. Storing your preferences, reviewing your search history sharing it with your team. 
                    br
            div.row.totalwhite-row.landing-row
                div.col-xs-4.text-center.col-xs-offset-2
                    div.v-center
                        div.content
                            img(src="img/screen.png")
                div.col-xs-4.text-center.vcenter
                    div.v-center
                        div.content
                            h2 Refly.xyz allows you to configure your technologic stack, make searches over selected references, keep your preferences between different devices,
                div.col-xs-8.col-xs-offset-2.text-center
                    h2 platforms and browsers and manage your content.
       include ./includes/footer.jade

