//- info.jade
doctype html
html
    include ./includes/head.jade
    body
        include ./includes/header.jade
        div.container
            div.row
                div.col-xs-12
        include ./includes/footer.jade

