div.trazo
    img(src='/img/trazo.png')
div.searchbox(class='bg-flywing')
    img(src='/img/refly.png')
    fieldset
        input#txtreference(type='text', class='ry-input-text', name='reference', placeholder="Reference")
div.docsets
    div(class='center-content span3')
        h2(class='centered-text') Our flies are searching all day for you
        table
            thead
                th
                th docset
                th robot
                th state
                th last update
            tbody
                tr
                    td(class='docset-logo')
                        img(src='/img/languages/java-logo.png', title='java')
                    td(class='docset-name')
                        a java
                    td(class='docset-robot')
                        img(src='/img/red-robot.png', title='redfly')
                    td(class='docset-state ok-state') ready
                    td 17/11/2012
                tr
                    td(class='docset-logo')
                        img(src='/img/languages/js-logo.png', title='js')
                    td(class='docset-name')
                        a javascript
                    td(class='docset-robot')
                        img(src='/img/blue-robot.png', title='bluefly')
                    td(class='docset-state off-state') resting
                    td 07/05/2013
                tr
                    td(class='docset-logo')
                        img(src='/img/languages/php-logo.png', title='php')
                    td(class='docset-name')
                        a php
                    td(class='docset-robot')
                        img(src='/img/yellow-robot.png', title='yellowfly')
                    td(class='docset-state ok-state') flying
                    td 15/09/2014
                tr
                    td(class='docset-logo')
                        img(src='/img/languages/haskell-logo.png', title='haskell')
                    td(class='docset-name')
                        a haskell
                    td(class='docset-robot')
                        img(src='/img/blue-robot.png', title='bluefly')
                    td(class='docset-state ok-state') ready
                    td 07/01/2013
                tr
                    td(class='docset-logo')
                        img(src='/img/languages/ruby-logo.png', title='ruby')
                    td(class='docset-name')
                        a ruby
                    td(class='docset-robot')
                        img(src='/img/green-robot.png', title='greenfly')
                    td(class='docset-state off-state') resting
                    td 24/02/2013
div.description
    div(class='center-content span4')
        h2 Working to make your job easier
        img(class='floated', src='/img/big-fly.png')
        span Refly es la biblioteca de referencias en la que el programador podrá encontrar toda la información de los lenguajes más populares de la manera más rápida y fluida.
        span Los refly bots recorren cientos de referencias para que puedas buscar y navegar por todas ellas desde Refly. Siempre actualizado, integrado con tu editor favorito y también offline.
div.contact
    div(class='center-content span3')
        h2 What can we do for you?
        input(placeholder='name', type='text', name='name', class='ry-input-text')
        input(placeholder='email', type='text', name='email', class='ry-input-text')
        textarea(placeholder='message', name='message', class='ry-input-text')
        input(class='ry-btn floated-right', type='submit', value='Send')
