div.searchbox
	fieldset
		input#txtreference(type='text', class='ry-input-text', name='reference')
		input#btnsearch(type='submit', class='ry-btn', value='Search')
div#content
	div.searchbox
		fieldset
			input#txtreference(type='text', class='ry-input-text', name='txtreference')
			input#btnsearch(type='submit', class='ry-btn', value='Search')
