div#content
    div.searchbox
        img(src='/img/logo.png')
        fieldset
            input#txtreference(type='text', class='ry-input-text', name='txtreference')
            input#btnsearch(type='submit', class='ry-btn', value='Search')
