div.searchbox
    img(src='/img/refly.png')
    fieldset
        input#txtreference(type='text', class='ry-input-text', name='reference', placeholder="Reference")
        input#btnsearch(type='submit', class='ry-btn', value='Search')
