header
div#content
    div.searchbox
        img(src='/img/refly.png')
        fieldset
            input#txtreference(type='text', class='ry-input-text', name='reference')
            input#btnsearch(type='submit', class='ry-btn', value='Search')
