//- cookies.jade
doctype html
html
    include ./includes/head.jade
    body
        include ./includes/header.jade
        div.container
            div.row
                div.col-xs-12
                    h1 PRIVACY POLICY
                    p We are committed to maintaining your confidence and trust, and recognizes your right to keep personal information private. We maintain the following privacy policy to protect personal information you provide online.
                    h2 Basic Privacy Policy
                    p The application collects no personal information about you at anytime. If you choose to provide personal information, such as a username, live ID or email address we will consider and keep that information private and confidential.
                    p We will use this information only to store your application settings and progress across multiple platforms or installations
                    h2 Information Collected from Application Usage
                    p The only information collected is application usage (points, in-app currency, provided username and/or settings) and it will only be used by the application to track leaderboard status, in-app progress or save settings and unlockable items.
                    p Any information stored remotely will be used solely for the purpose of determining the most popular features and determining what to develop next.
                    h2 No Release of Information to Third Parties
                    p Personal information and application usage statistics will not be released to third parties except as necessary to further the purpose for which you provide the information and where it is legally required, such as in the investigation of a criminal offence, and in compliance with a search warrant or subpoena.
        include ./includes/footer.jade

