html {
    background-color: #d2e4f7;
}
p {
    margin: 20px 0;
}
h1, h2 {
    color: #3399FF;
    padding: 0;
    line-height: normal;
    height: initial;
}
ul {
    list-style-type: none;
}
#main {
    background-color: #FFF;
    width: 800px;
    margin: 0 auto;
    padding: 40px 40px;
    text-align: justify;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}
