body {
    padding: 0;
}
html {
    background-color: #333;
}
p {
    margin: 20px 0;
}
h1, h2 {
    border-left: 3px solid #fdb436;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    line-height: normal;
    height: initial;
    padding-left: 10px;
}
#main {
    background-color: #f5f7f7;
    width: 800px;
    min-height: 100%;
    margin: 0 auto;
    padding: 60px 40px;
    text-align: justify;
    border-left: 2px solid #d2e4f7;
    border-right: 2px solid #d2e4f7;
}
.box {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-line;
}
