.iconlist{
	background-color: #70BF40;
	min-height: 200px;
	padding: 1em;
	margin: 2em;
}

.homefooter{
	background-color: #A6AAA9;
	min-height: 150px;
}

.homefooter a{
	color: #000;
	height: 110%;
}

.homefootermenu{
    margin-top: 5%;
    text-align: center;
}

.programmerslogo{
	margin-right: -3rem;
    width: 8rem;
    margin-top: -1rem;
}

.homeinfolinks{
	float: left;
    margin-top: 5%;
}
.nodecorator{
    list-style-type: none;
    margin-left: -1em;
}

.subtitle{
	font-weight: bold;
}