._settings .col3 {
	min-height: 100%;
	width: 100%;
}
._settings .col3 li{
	width: 300px;
	list-style-type:none;
	display: inline-block;
	padding: 5px;
}

._settings .clear{
	clear:both;
}

._settings .item{
    padding-top: 5px;
    padding-left: 10px;
}

._settings .item:hover{
	background-color: #73ADED;
	color: #FFF;
}
._settings .input-container{
	width: 50%;
	vertical-align: middle;
}
._settings label{
	margin-left: 3%;
}

