.col3 {
	min-height: 100%;
	width: 100%;
}
.col3 li{
	width: 300px;
	list-style-type:none;
	display: inline-block;
	padding: 5px;
}

.clear{
	clear:both;
}
.input-container{
	width: 50%;
	vertical-align: middle;
}
label{
	margin-left: 3%;
}

