/*
 * sidebar
 *
 */
.sidebar-panel{
  width: 22.5%;
  position: fixed;
}

@media screen and (max-width: 991px) {
    .sidebar-panel{
        width: 30%;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    overflow:visible;
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 80%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 80%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%; /* 6 columns */
  }
  
  .sidebar-panel{
      width:70%;
  }

  .row-offcanvas-left.active .sidebar-panel{
    left: 0px; /* 6 columns */
  }
}

/*search*/
#search-results{
    overflow-y:auto;
}

.searchref-icon-clean{
  width: 50px;
  margin-right: 50px;
}

.docset-selector{ 
  height: 50px;
  margin-right: 93%;
  margin-top: 4%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 15px;
  line-height: 43px;
  text-align: center;
  pointer-events: none;
}

.docset-selector-item{
  background-color: #EEE;
}

.longdocset{
  padding-left: 80px;
}
.shortdocset{
  padding-left: 25px;
}