/*       sidebar menu    */
/* the menu items' style */
.header-menu{
    text-align: center;
    font-weight: bold;
}
.left-arrow{
    float: left;
}
.right-arrow{
    float: right;
}
.menu-title{
    padding-right: 3rem;
}
#menu-results{
    overflow-y: auto;
    overflow-x: hidden;
}
.docset-icon{
    cursor: pointer;
}
.back-link{
    font-weight: bold;
    padding-left: 2rem;
}
/* menu icons */
.docset-icon:before {
    background-image: url('../img/docsets.png');
    background-size: 10rem 8rem;
    height: 0.9rem;
    width: 1rem;
    content: '';
    float:left;
    margin-right:2px;
    margin-top:3px;
}
.docsets-java:before {
    background-position: 0px 0px;
}
.docsets-slash:before {
    background-position: 0 0;
}
.docsets-Http:before {
    background-position: -7rem 0;
}
.docsets-JQuery:before {
    background-position: -8rem 0;
}
.docsets-JQuery-Mobile:before {
    background-position: -8rem 0;
}
.docsets-JQuery-UI:before {
    background-position: -8rem 0;
}
.docsets-UnderscoreJS:before {
    background-position: -9rem  0;
}
.docsets-HTML:before {
    background-position:  0    -0.85rem;
}
.docsets-NodeJS:before {
    background-position: -6rem -0.8rem;
}
.docsets-DOM:before {
    background-position: -2rem -0.8rem;
}
.docsets-DOM-Events:before {
    background-position: -3rem -0.8rem;
}
.docsets-AngularJS:before {
    background-position: -9rem -0.8rem;
}
.docsets-BackboneJS:before {
    background-position: -5rem -0.8rem;
}
.docsets-Sass:before {
    background-position: -7rem -0.8rem;
}
.docsets-JavaScript:before {
    background-position: -4rem -0.8rem;
}
.docsets-CSS:before {
    background-position: -1rem -0.8rem;
}
.docsets-Less:before {
    background-position: -8rem -0.8rem;
}
.docsets-CoffeeScript:before {
    background-position: 0 -1.78rem;
}
.docsets-EmberJS:before {
    background-position: -1rem -1.78rem;
}
.docsets-Lo-Dash:before {
    background-position: -6rem -1.7rem;
}
.docsets-PHP:before {
    background-position: -7rem -1.78rem;
}
.docsets-Ruby:before {
    background-position: -8rem -1.7rem;
}
.docsets-Rails:before {
    background-position: -9rem -1.7rem;
}
.docsets-Python2:before {
    background-position:  0    -2.6rem;
}
.docsets-Python3:before {
    background-position:  0    -2.6rem;
}
.docsets-Git:before {
    background-position: -1rem -2.6rem;
}
.docsets-Redis:before {
    background-position: -2rem -2.6rem;
}
.docsets-PostgreSQL:before {
    background-position: -3rem -2.6rem;
}
.docsets-D3:before {
    background-position: -4rem -2.6rem;
}
.docsets-KnockOut:before {
    background-position: -5rem -2.6rem;
}
.docsets-Moment:before {
    background-position: -6rem -2.6rem;
}
.docsets-C:before {
    background-position: -7rem -2.6rem;
}
.docsets-Yii:before {
    background-position: -9rem -2.6rem;
}
.docsets-Cpp:before {
    background-position: 0 -3.45rem;
}
.docsets-Go:before {
    background-position: -1rem -3.5rem;
}
.docsets-Express:before {
    background-position: -2rem -3.45rem;
}
.docsets-Grunt:before {
    background-position: -3rem -3.5rem;
}
.docsets-Laravel:before {
    background-position: -5rem -3.54rem;
}
.docsets-Haskell:before {
    background-position: -6rem -3.5rem;
}
.docsets-RequireJS:before {
    background-position: -7rem -3.55rem;
}
.docsets-Chai:before {
    background-position: -8rem -3.5rem;
}
.docsets-SinonJS:before {
    background-position: -9rem -3.5rem;
}
.docsets-Apache-Cordova:before {
    background-position: 0 -4.4rem;
}
.docsets-MarkDown:before {
    background-position: -1rem -4.4rem;
}
.docsets-Django:before {
    background-position: -2rem -4.5rem;
}
.docsets-XPath:before {
    background-position: -3rem -4.5rem;
}
.docsets-SVG:before {
    background-position: -5rem -4.5rem;
}
.docsets-MongooseJS:before {
    background-position: -7rem -4.5rem;
}
.docsets-Nginx:before {
    background-position: -4rem -4.5rem;
}
.docsets-Marionette:before {
    background-position: -6rem -4.4rem;
}
.docsets-PHPUnit:before {
    background-position: -8rem -4.5rem;
}
.docsets-Nokogiri:before {
    background-position: -9rem -4.4rem;
}
.docsets-RethinkDB:before {
    background-position:  0    -5.3rem;
}
.docsets-React:before {
    background-position: -1rem -5.3rem;
}
.docsets-SocketIO:before {
    background-position: -2rem -5.3rem;
}
.docsets-Modernizr:before {
    background-position: -3rem -5.3rem;
}
.docsets-Bower:before {
    background-position: -4rem -5.3rem;
}
.docsets-npm:before {
    background-position: -8rem -6.2rem;
}
.docsets-Apache:before {
    background-position: -9rem -6.2rem;
}
.docsets-Clojure:before {
    background-position: -4rem -6.2rem;
}
.docsets-Drupal:before {
    background-position: 0rem 0.8rem;
}
.docsets-Lua:before {
    background-position: -3rem -6.3rem;
}
.docsets-Mocha:before {
    background-position: -6rem -6.2rem;
}
.docsets-OpenTSDB:before {
    background-position: -4rem -7.2rem;
}
.docsets-Phaser:before {
    background-position: -2rem -7.2rem;
}
.docsets-q:before {
    background-position: 0 -6.3rem;
}
.docsets-Rust:before {
    background-position: -4rem -3.55rem;
}
.docsets-Symfony:before {
    background-position: -5rem -6.3rem;
}
.docsets-Vue:before {
    background-position: -3rem -7.2rem;
}
.docsets-Webpack:before {
    background-position: -1rem -7.1rem;
}
.docsets-Yii1:before {
    background-position: -9rem -2.6rem;
}
.docsets-Phalcon:before {
    background-position: -5rem -5.3rem;
}
.docsets-Meteor:before {
    background-position: -7rem -6.3rem;
}
.docsets-ioJS:before {
    background-position: -2rem -6.3rem;
}
.docsets-React-native:before {
    background-position: -1rem -6.3rem;
}
.docsets-React-Router:before {
    background-position: -6rem -5.3rem;
}
.docsets-Browserify:before {
    background-position: -5rem -7.2rem;
}
.docsets-Jasmine:before {
    background-position: -6rem -7.2rem;
}
.docsets-Jest:before {
    background-position: -7rem -7.1rem;
}
.docsets-Mysql:before {
    background-position: -3rem -1.78rem;
}
.docsets-Twig:before {
    background-position: -2rem -1.78rem;
}
.docsets-Java-7-SE:before {
    background-position: -7rem -5.3rem;
}
.docsets-Chef:before {
    background-position: -8rem -5.3rem;
}
.docsets-Swift:before {
    background-position: -9rem -5.3rem;
}
.docsets-Scala:before {
    background-position: -8rem -7.1rem;
}
.docsets-Bootstrap:before {
    background-position: -9rem -7.1rem;
}
.docsets-Knex:before {
    background-position: -8rem -2.6rem;
}
.docsets-Perl:before {
    background-position: -1rem 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .docset-icon:before{
        background-image: url('../img/docsets@2x.png');
    }
.docsets-java:before {
    background-position: 0px 0px;
}
.docsets-slash:before {
    background-position: 0 0;
}
.docsets-Http:before {
    background-position: -7rem 0;
}
.docsets-JQuery:before {
    background-position: -8rem 0;
}
.docsets-JQuery-Mobile:before {
    background-position: -8rem 0;
}
.docsets-JQuery-UI:before {
    background-position: -8rem 0;
}
.docsets-UnderscoreJS:before {
    background-position: -9rem  0;
}
.docsets-HTML:before {
    background-position:  0    -0.8rem;
}
.docsets-NodeJS:before {
    background-position: -6rem -0.8rem;
}
.docsets-DOM:before {
    background-position: -2rem -0.8rem;
}
.docsets-DOM-Events:before {
    background-position: -3rem -0.8rem;
}
.docsets-AngularJS:before {
    background-position: -9rem -0.8rem;
}
.docsets-BackboneJS:before {
    background-position: -5rem -0.8rem;
}
.docsets-Sass:before {
    background-position: -7rem -0.8rem;
}
.docsets-JavaScript:before {
    background-position: -4rem -0.8rem;
}
.docsets-CSS:before {
    background-position: -1rem -0.8rem;
}
.docsets-Less:before {
    background-position: -8rem -0.8rem;
}
.docsets-CoffeeScript:before {
    background-position: 0 -1.7rem;
}
.docsets-EmberJS:before {
    background-position: -1rem -1.7rem;
}
.docsets-Lo-Dash:before {
    background-position: -6rem -1.7rem;
}
.docsets-PHP:before {
    background-position: -7rem -1.7rem;
}
.docsets-Ruby:before {
    background-position: -8rem -1.7rem;
}
.docsets-Rails:before {
    background-position: -9rem -1.7rem;
}
.docsets-Python2:before {
    background-position:  0    -2.6rem;
}
.docsets-Python3:before {
    background-position:  0    -2.6rem;
}
.docsets-Git:before {
    background-position: -1rem -2.6rem;
}
.docsets-Redis:before {
    background-position: -2rem -2.6rem;
}
.docsets-PostgreSQL:before {
    background-position: -3rem -2.6rem;
}
.docsets-D3:before {
    background-position: -4rem -2.6rem;
}
.docsets-KnockOut:before {
    background-position: -5rem -2.6rem;
}
.docsets-Moment:before {
    background-position: -6rem -2.6rem;
}
.docsets-C:before {
    background-position: -7rem -2.6rem;
}
.docsets-Yii:before {
    background-position: -9rem -2.6rem;
}
.docsets-Cpp:before {
    background-position: 0 -3.5rem;
}
.docsets-Go:before {
    background-position: -1rem -3.5rem;
}
.docsets-Express:before {
    background-position: -2rem -3.5rem;
}
.docsets-Grunt:before {
    background-position: -3rem -3.5rem;
}
.docsets-Laravel:before {
    background-position: -5rem -3.5rem;
}
.docsets-Haskell:before {
    background-position: -6rem -3.5rem;
}
.docsets-RequireJS:before {
    background-position: -7rem -3.5rem;
}
.docsets-Chai:before {
    background-position: -8rem -3.5rem;
}
.docsets-SinonJS:before {
    background-position: -9rem -3.5rem;
}
.docsets-Apache-Cordova:before {
    background-position: 0 -4.4rem;
}
.docsets-MarkDown:before {
    background-position: -1rem -4.4rem;
}
.docsets-Django:before {
    background-position: -2rem -4.4rem;
}
.docsets-XPath:before {
    background-position: -3rem -4.4rem;
}
.docsets-SVG:before {
    background-position: -5rem -4.4rem;
}
.docsets-MongooseJS:before {
    background-position: -7rem -4.4rem;
}
.docsets-Nginx:before {
    background-position: -4rem -4.4rem;
}
.docsets-Marionette:before {
    background-position: -6rem -4.4rem;
}
.docsets-PHPUnit:before {
    background-position: -8rem -4.4rem;
}
.docsets-Nokogiri:before {
    background-position: -9rem -4.4rem;
}
.docsets-RethinkDB:before {
    background-position:  0    -5.3rem;
}
.docsets-React:before {
    background-position: -1rem -5.3rem;
}
.docsets-SocketIO:before {
    background-position: -2rem -5.3rem;
}
.docsets-Modernizr:before {
    background-position: -3rem -5.3rem;
}
.docsets-Bower:before {
    background-position: -4rem -5.3rem;
}
.docsets-npm:before {
    background-position: -8rem -6.2rem;
}
.docsets-Apache:before {
    background-position: -9rem -6.2rem;
}
.docsets-Clojure:before {
    background-position: -4rem -6.2rem;
}
.docsets-Drupal:before {
    background-position: 0rem 0.9rem;
}
.docsets-Lua:before {
    background-position: -3rem -6.2rem;
}
.docsets-Mocha:before {
    background-position: -6rem -6.2rem;
}
.docsets-OpenTSDB:before {
    background-position: -4rem -7.2rem;
}
.docsets-Phaser:before {
    background-position: -2rem -7.2rem;
}
.docsets-q:before {
    background-position: 0 -6.2rem;
}
.docsets-Rust:before {
    background-position: -4rem -3.5rem;
}
.docsets-Symfony:before {
    background-position: -5rem -6.2rem;
}
.docsets-Vue:before {
    background-position: -3rem -7.1rem;
}
.docsets-Webpack:before {
    background-position: -1rem -7.1rem;
}
.docsets-Yii1:before {
    background-position: -9rem -2.6rem;
}
.docsets-Phalcon:before {
    background-position: -5rem -5.3rem;
}
.docsets-Meteor:before {
    background-position: -7rem -6.2rem;
}
.docsets-React-Router:before {
    background-position: -6rem -5.3rem;
}
.docsets-Browserify:before {
    background-position: -5rem -7.2rem;
}
.docsets-Jasmine:before {
    background-position: -6rem -7.1rem;
}
.docsets-Jest:before {
    background-position: -7rem -7.1rem;
}
.docsets-Mysql:before {
    background-position: -3rem -1.7rem;
}
.docsets-Twig:before {
    background-position: -2rem -1.7rem;
}
.docsets-Java-7-SE:before {
    background-position: -7rem -5.3rem;
}
.docsets-Chef:before {
    background-position: -8rem -5.3rem;
}
.docsets-Swift:before {
    background-position: -9rem -5.3rem;
}
.docsets-Scala:before {
    background-position: -8rem -7.1rem;
}
.docsets-Bootstrap:before {
    background-position: -9rem -7.1rem;
}
.docsets-Knex:before {
    background-position: -8rem -2.6rem;
}
.docsets-Perl:before {
    background-position: -1rem 0;
}
}
.type-icon{
    cursor: pointer;
    font-size: 90%;
}
.type-icon:before {
    background-image: url('../img/types.png');
    height: 16px;
    width: 16px;
    display: block;
    content: '';
    float: left;
    margin: 3px 7px 0 0;
    font-size: 90%;
}
.type-class:before {
    background-position: 0 0;
}
.type-constant:before {
    background-position: -16px 0;
}
.type-context:before {
    background-position: -32px 0;
}
.type-control:before {
    background-position: -48px 0;
}
.type-docset:before {
    background-position: -64px 0;
}
.type-event:before {
    background-position: 0 -16px;
}
.type-exception:before {
    background-position: -16px -16px;
}
.type-expression:before {
    background-position: -32px -16px;
}
.type-function:before {
    background-position: -48px -16px;
}
.type-generator:before {
    background-position: -64px -16px;
}
.type-guide:before {
    background-position: 0 -32px;
}
.type-interface:before {
    background-position: -16px -32px;
}
.type-method:before {
    background-position: -32px -32px;
}
.type-wrapper:before {
    background-position: -48px -32px;
}
.type-module:before {
    background-position: -64px -32px;
}
.type-namespace:before {
    background-position: 0 -48px;
}
.type-object:before {
    background-position: -16px -48px;
}
.type-operator:before {
    background-position: -32px -48px;
}
.type-others:before {
    background-position: -48px -48px;
}
.type-predefinedvariable:before {
    background-position: -64px -48px;
}
.type-property:before {
    background-position: 0 -64px;
}
.type-reference:before {
    background-position: -16px -64px;
}
.type-statement:before {
    background-position: -32px -64px;
}
.type-type:before {
    background-position: -48px -64px;
}
.type-variable:before {
    background-position: -64px -64px;
}

.selected {
    background-color: #f5f5f5;
    color: #000;
}

a.loaded {
    background-color: #73ADED;
    color: #FFF;
}
.loaded.selected{
    background-color: #A4C7EC;
}
a.loaded:hover{
    background-color: #A4C7EC;
}
a.loaded:focus{
    background-color: #73ADED;
    color: #FFF;
}
a.loaded:focus span{
    color: #FFF;
}
.selected span {
    color: #000;
}