html,
body {
    height: 100%;

}
.overflowed{

}

body {
    padding-top: 70px;
    background-color:#F5F5F5;
}
/* conflict with highlighter*/
dl.function{
	color: #333333;
}
article{
    min-height: 100%;
    padding-top: 10px;
    background: white;
}

.clearer{
    pointer-events:auto;
}

.messageok{
    background-color: #E3EED8;
    color: #588147;
}

a.broken{
  background: url(../img/icon_broken_link.png)center right no-repeat;
  padding-right: 11px;
  padding-top: 10px;
}