html,
body {
    height: 100%;

}
.overflowed{
	overflow-x: hidden;
}

body {
    padding-top: 70px;
    background-color:#F5F5F5;
}
/* conflict with highlighter*/
dl.function{
	color: #333333;
}
article{
    min-height: 100%;
    padding-top: 10px;
    background: white;
}

.clearer{
    pointer-events:auto;
}
