html,
body {
    overflow-x:hidden;
    height: 100%;
}

body {
    padding-top: 70px;
    background-color:#F5F5F5;
}

article{
    min-height: 100%;
    padding-top: 10px;
    background: white;
}

.clearer{
    pointer-events:auto;
}
