/*        Treeview        */
/* the tree node's style */
#tree-view-panel{
    overflow-y:auto;
}

.tree-view {
    margin-top:5px;
    white-space: nowrap;
}
.tree-view div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tree-view_children {
  margin-left: 16px;
  margin-top: 10px;
}
.tree-view_children-collapsed {
      height: 0px;
      color: #222;

}
.tree-view_arrow {
      cursor: pointer;
      margin-right: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      float: left;
      margin-right: 10px;
      font-size: 100%;
      color: #222;
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #666;
}
.docset-icon{
    cursor: pointer;
    font-size: 90%;
}
/* tree-view icons */
.docset-icon:before {
    background-image: url('../img/docsets.png');
    background-size: 10rem 8rem;
    height: 0.9rem;
    width: 1rem;
    content: '';
    float:left;
    margin-right:2px;
    margin-top:0px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .docset-icon:before{
        background-image: url('../img/docsets@2x.png');
    }
}
.docsets-java:before {
    background-position: 0px 0px;
}
.docsets-slash:before {
    background-position: 0 0;
}
.docsets-Http:before {
    background-position: -7rem 0;
}
.docsets-JQuery:before {
    background-position: -8rem 0;
}
.docsets-JQuery-Mobile:before {
    background-position: -8rem 0;
}
.docsets-JQuery-UI:before {
    background-position: -8rem 0;
}
.docsets-UnderscoreJS:before {
    background-position: -9rem  0;
}
.docsets-HTML:before {
    background-position:  0    -0.9rem;
}
.docsets-NodeJS:before {
    background-position: -6rem -0.9rem;
}
.docsets-DOM:before {
    background-position: -2rem -0.9rem;
}
.docsets-DOM_Events:before {
    background-position: -3rem -0.9rem;
}
.docsets-AngularJS:before {
    background-position: -9rem -0.9rem;
}
.docsets-BackboneJS:before {
    background-position: -5rem -0.9rem;
}
.docsets-Sass:before {
    background-position: -7rem -0.9rem;
}
.docsets-JavaScript:before {
    background-position: -4rem -0.9rem;
}
.docsets-CSS:before {
    background-position: -1rem -0.9rem;
}
.docsets-DOM_Events:before {
    background-position: -3rem -0.9rem;
}
.docsets-Less:before {
    background-position: -8rem -0.9rem;
}
.docsets-CoffeeScript:before {
    background-position: 0 -1.78rem;
}
.docsets-EmberJS:before {
    background-position: -1rem -1.78rem;
}
.docsets-Lo-Dash:before {
    background-position: -6rem -1.78rem;
}
.docsets-PHP:before {
    background-position: -7rem -1.78rem;
}
.docsets-Ruby:before {
    background-position: -8rem -1.78rem;
}
.docsets-Rails:before {
    background-position: -9rem -1.78rem;
}
.docsets-Python2:before {
    background-position:  0    -2.66rem;
}
.docsets-Python3:before {
    background-position:  0    -2.66rem;
}
.docsets-Git:before {
    background-position: -1rem -2.69rem;
}
.docsets-Redis:before {
    background-position: -2rem -2.66rem;
}
.docsets-PostgreSQL:before {
    background-position: -3rem -2.66rem;
}
.docsets-D3:before {
    background-position: -4rem -2.66rem;
}
.docsets-KnockOut:before {
    background-position: -5rem -2.66rem;
}
.docsets-Moment:before {
    background-position: -6rem -2.66rem;
}
.docsets-C:before {
    background-position: -7rem -2.65rem;
}
.docsets-Chai:before {
    background-position: -8rem -3.55rem;
}
.docsets-Yii:before {
    background-position: -9rem -2.67rem;
}
.docsets-Cpp:before {
    background-position: 0 -3.56rem;
}
.docsets-Go:before {
    background-position: -1rem -3.55rem;
}
.docsets-Express:before {
    background-position: -2rem -3.58rem;
}
.docsets-Grunt:before {
    background-position: -3rem -3.58rem;
}
.docsets-Laravel:before {
    background-position: -5rem -3.58rem;
}
.docsets-Haskell:before {
    background-position: -6rem -3.58rem;
}
.docsets-RequireJS:before {
    background-position: -7rem -3.58rem;
}
.docsets-SinonJS:before {
    background-position: -9rem -3.58rem;
}
.docsets-Apache-Cordova:before {
    background-position: 0 -4.45rem;
}
.docsets-MarkDown:before {
    background-position: -1rem -4.45rem;
}
.docsets-Django:before {
    background-position: -2rem -4.45rem;
}
.docsets-XPath:before {
    background-position: -3rem -4.45rem;
}
.docsets-SVG:before {
    background-position: -5rem -4.45rem;
}
.docsets-MongooseJS:before {
    background-position: -7rem -4.45rem;
}
.docsets-Nginx:before {
    background-position: -4rem -4.45rem;
}
.docsets-Marionette:before {
    background-position: -6rem -4.45rem;
}
.docsets-PHPUnit:before {
    background-position: -8rem -4.45rem;
}
.docsets-Nokogiri:before {
    background-position: -9rem -4.45rem;
}
.docsets-RethinkDB:before {
    background-position:  0    -5.35rem;
}
.docsets-React:before {
    background-position: -1rem -5.35rem;
}
.docsets-SocketIO:before {
    background-position: -2rem -5.35rem;
}
.docsets-Modernizr:before {
    background-position: -3rem -5.35rem;
}
.docsets-Bower:before {
    background-position: -4rem -5.35rem;
}
.docsets-npm:before {
    background-position: -8rem -6.2rem;
}
.type-icon{
    cursor: pointer;
    font-size: 90%;
}
.type-icon:before {
    background-image: url('../img/types.png');
    height: 16px;
    width: 16px;
    display: block;
    content: '';
    float: left;
    margin: 3px 7px 10px 0px;
    font-size: 90%;
}
.type-class:before {
    background-position: 0 0;
}
.type-constant:before {
    background-position: -16px 0;
}
.type-context:before {
    background-position: -32px 0;
}
.type-control:before {
    background-position: -48px 0;
}
.type-docset:before {
    background-position: -64px 0;
}
.type-event:before {
    background-position: 0 -16px;
}
.type-exception:before {
    background-position: -16px -16px;
}
.type-expression:before {
    background-position: -32px -16px;
}
.type-function:before {
    background-position: -48px -16px;
}
.type-generator:before {
    background-position: -64px -16px;
}
.type-guide:before {
    background-position: 0 -32px;
}
.type-interface:before {
    background-position: -16px -32px;
}
.type-method:before {
    background-position: -32px -32px;
}
.type-wrapper:before {
    background-position: -48px -32px;
}
.type-module:before {
    background-position: -64px -32px;
}
.type-namespace:before {
    background-position: 0 -48px;
}
.type-object:before {
    background-position: -16px -48px;
}
.type-operator:before {
    background-position: -32px -48px;
}
.type-others:before {
    background-position: -48px -48px;
}
.type-predefinedvariable:before {
    background-position: -64px -48px;
}
.type-property:before {
    background-position: 0 -64px;
}
.type-reference:before {
    background-position: -16px -64px;
}
.type-statement:before {
    background-position: -32px -64px;
}
.type-type:before {
    background-position: -48px -64px;
}
.type-variable:before {
    background-position: -64px -64px;
}

.selected {
    background-color: #73ADED;
    color: #FFF;
}

.selected span {
    color: #FFF;
}
/*
#tree-view .docset-icon, #tree-view .type-icon {
    display: inline-block;
}
#tree-view div.docset-icon, #tree-view div.type-icon {
    width: 270px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#tree-view div.type-icon {
    padding: 3px 6px 4px;
    cursor: pointer;
}
#tree-view span.docset-icon {
    padding: 4px 4px 1px 4px;
    cursor: pointer;
    width: 296px;
}
#tree-view span.type-icon {
    padding: 4px 6px 5px;
    cursor: pointer;
    width: 270px;
}
/*

.tree-view .tree-view_children>div.selected:hover {
    background-color: #333;
    color: #FFF;
}
span.docset-icon:hover {
    background: #d2e4f7;
}
span.type-icon:hover {
    background: #d2e4f7;
    color: #000;
}
.docset-icon:focus {
    background: #333;
    color: #FFF;
}
.type-icon:focus {
    background: #333;
    color: #FFF;
}
.tree-view_children>div.type-icon:hover {
    background: #d2e4f7;
    color: #000;
}

/* style for the container */
