   /*                                                               */
   /*            __   __                        __ _                */
   /*           /  \^/  \             _ __ ___ / _| |_   _          */
   /*          _\   |   /_           | '__/ _ \ |_| | | | |         */
   /*          __\__Y__/__           | | |  __/  _| | |_| |         */
   /*            _{___}_             |_|  \___|_| |_|\__, |         */
   /*           ' (#|#) '                            |___/          */ 
   /*               ^                                               */
   /*_______________________________________________________________*/


/* Fonts */

@font-face {
    font-family: 'fontawesome';
    src: url('../public/fonts/fontawesome.eot');
    src: url('../public/fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/fontawesome.woff') format('woff'),
    url('../public/fonts/fontawesome.ttf') format('truetype'),
    url('../public/fonts/fontawesome.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Basic elements */

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
body, fieldset, p {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    padding-top: 72px;
    padding-bottom: 60px;
    min-height: 100%;
    position: relative;
}
*, div {
    box-sizing: border-box;
}
a {
    color: #3399FF;
    text-decoration: none;
    cursor: pointer;
}
a:hover, a.current {
    color: #FF8311;
}
h1 {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    line-height: 100px;
    height: 100px;
}
p {
    margin-top: 5px;
}
code {
    white-space: pre-line;
}
pre {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

/* Custom clases */

.cursive {
    font-style: italic;
}
.center-content {
    margin: 0 auto;
    display: table;
}
.centered-text {
    text-align: center;
}
.floated {
    float: left;
}
.floated-right {
    float: right;
}
.span3 {
    width: 600px;
}
.span4 {
    width: 800px;
}
.full-height {
    max-height: 100%;
    min-height: 100%;
}
.half-height {
    max-height: 50%;
    min-height: 50%;
}
.noresult{
	border: 1px solid red;
	color: red;
}
.collapse {
    min-height: 0%;
    margin: 0 !important;
    height: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* Containers */

#container {
    height: 100%;
}
#content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 0 60px;
    top: 0;
}

/* Header */

header {
    background-color: #333;
    border-bottom: 2px solid #d2e4f7;
    float: left;
    height: 70px;
    width: 70%;
    position: absolute;
    padding: 5px 0;
    top: 0px;
    right: 0;
}

/* Breadcrumbs */

.breadcrumbsul {
    list-style: none;
    margin: 16px 0;
    font-size: 1.2em;
}
.breadcrumbsul li{
    background-image: url("../img/breadcrumb-list.png");
    background-position: 0px 8px;
    background-repeat: no-repeat;
	float: left;
    margin-right: 12px;
    padding-left: 20px;
}
ul.breadcrumbsul li a {
    color: #39f;
}
ul.breadcrumbsul li a:hover {
    color: #fdb436;
}
ul.breadcrumbsul li:last-child a {
    color: #fff;
    border-right: 3px solid #fdb436;
    border-left: 3px solid #fdb436;
    border-radius: 5px;
    padding: 0 5px;
}
ul.breadcrumbsul li:last-child a:hover {
    color: #fdb436;
}

/* Left panel */

#left-pane {
    float: left;
    width: 30%;
    height: 100%;
    overflow: hidden;
    padding-top: 70px;
    position: relative;
}
.logo img {
    padding: 5px 10px 5px 15px;
    height: 100%;
    float: left;
}
#left-pane .ry-input-text {
    width: 100%;
}
#left-pane>div {
}
#search-view .search-header {
    width: 100%;
    background-color: #39F;
    height: 70px;
    position: absolute;
    top: 0;
    padding-left: 17px;
    border-bottom: 2px solid #d2e4f7;
    padding-right: 17px;
    padding-top: 17px;
}
#search-view fieldset {
    position: relative;
}

/* Search */

#search-view {
    overflow: auto;
}
#results {
    margin: 0;
}
#results .search-message {
    background-color: #fdb436;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
}
#resultlist li:hover,  #outline-view ul.outline-list>li:hover {
    background-color: #f5f7f7;
}

/* Treeview */

#left-pane>#tree-view {
    position: relative;
}
#left-pane>#tree-view {
    overflow: auto;
}
.list-arrow {
    background-image: url('../img/closed-list.png');
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    margin: 3px 2px 0 6px;
    padding: 2px;
    float: left;
    box-sizing: initial;
    background-position: 2px 2px;
}
#left-pane>#tree-view li.checked>a>div.list-arrow{
    background-image: url('../img/opened-list.png');
    margin-top: 4px;
}
#tree-view ul.show li {
    padding: 5px 0 5px 46px;
}

/* Outline */

.component-header {
    background-color: #3399FF;
    width: 100%;
    position: absolute;
}
.component-header:hover {
    background-color: #fdb436;
}
.component-header a {
    text-decoration: none;
    height: 30px;
    float: left;
    color: white;
    width: 100%;
    font-weight: bold;
    padding: 5px 20px;
    top: 0;
}
.component-content {
    overflow: auto;
    position: absolute;
    width: 100%;
}
#outline-view {
    padding: 0;
    position: relative;
    overflow: auto;
}
#outline-view .outline-header {
    background-color: #d2e4f7;
    padding: 5px 10px;
    font-weight: bold;
}

#outline-view ul.outline-list li ul {
    margin: 0;
    padding: 5px 10px 10px 50px;
    background-color: #fff;
}
#outline-view ul.outline-list li ul li {
    padding: 3px 0;
}
#outline-view ul.outline-list li ul li.selected-item {
    font-weight: bold;
    border-left: 3px solid #fdb436;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 0 3px 5px;
}
.items-amount {
    margin-left: 20px;
    color: grey;
    font-size: 0.9em;
}

/* Warningpage */

.result .warning h2 {
    font-size: 2.6em;
    padding-left: 20px;
    margin: 0.5em 0;
}
.result .warning h3 {
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 1em;
    color: #f00;
}
.result .warning p {
    font-size: 1.2em;
    margin-left: 20px;
}

/* Main content */
.right-pane {
    height: 100%;
    padding-top: 70px;  
}
.result {
    background-color: #f5f7f7;
    width: 70%;
    padding: 20px;
    height: 100%;
    overflow: auto;
}
.result h2 {
    margin-top: 2em;
    border-left: 3px solid #fdb436;
    color: #333;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.result h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 20px;
}
.result p {
    margin: 10px 0;
}
.result table {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    background-color: #666;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}
.result table tr:nth-child(even) {
    background: #FFF;
}
.result table tr:nth-child(odd) {
    background: #ececec;
}
.result table th {
    color: #FFF;
    background-color: #39F;
    padding: 7px 10px;
}
.result table td {
    padding: 10px;
}
.result table code {
    background-color: inherit;
    font-weight: bold;
}
.result table th:first-child {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px
}
.result table th:last-child {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px
}
.result table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px
}
.result table tr:last-child td:last-child {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px
}

td.separator {
    width: 5px;
}
#search-view ul, #tree-view ul, #outline-view ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*#search-view li, #tree-view li, #outline-view ul.outline-list>li {*/
#search-view li, #tree-view li {
    padding: 5px 20px;
}
.ry-language-source {
    width: 24px;
    vertical-align: bottom;
    margin-top: -2px;
    float: left;
}
.ry-type-source {
    margin: 2px 8px 0px 6px;
    float: left;
}
.ry-icon {
    font-family: "fontawesome";
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    top: 4px;
    color: #C8DDF2;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0 none;
}
.ry-icon:hover {
    color: #3399FF;
}
#ry-homesearch, #ry-search {
    display: inline-block;
    position: relative;
}
#ry-homesearch {
    min-width: 30%;
}
#ry-search {
    width: 100%;
}
#ry-homesearch .ry-input-text, #ry-search .ry-input-text {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
}
.ry-input-text:focus {
    outline: 0 none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #fdb436;
    background-color: #ffffff;
}
.ry-input-text {
    color: #333;
    background-color: #f5f7f7;
    border: 2px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    min-width: 30%;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 1.2em;
}
textarea.ry-input-text {
    height: 100px;
    max-height: 200px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.ry-state {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ry-state-blocked {
    background-color: #776666;
    color: white;
}
.ry-state-idle {
    background-color: #667766;
    color: white;
}
.ry-state-bussy {
    background-color: #666677;
    color: white;
}
.ry-state-blocked:hover {
    background-color: #FF9933;
    color: white;
}
.ry-state-idle:hover {
    background-color: #00CC33;
    color: white;
}
.ry-state-bussy:hover {
    background-color: #3399FF;
    color: white;
}
.ry-btn {
    border: 0 none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color: #3399FF;
    text-indent:0;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    font-weight: bold;
    font-size: 1em;
}
.ry-btn:hover {
    background-color: #fdb436;
}
#center {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background: #83C24A;
    height: 100px;
    width: 200px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}

/* Footer */

footer {
    border-top: 2px solid #fdb436;
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
    height: 60px;
}
footer .center-block {
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
}
footer .footer-links {
    float: left;
    margin-top: 10px;
    width: 30%;
}
footer .footer-links a {
    color: #aaa;
    text-decoration: none;
    margin: 0 10px;
}
footer .footer-links a:hover {
    color: #3399ff;
}
footer .footer-logos {
    float: right;
    height: 34px;
    text-align: right;
    width: 30%;
    margin-top: 6px;
}
footer .footer-logos a:first-child img {
    padding-bottom: 6px;
}
footer .footer-logos img {
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
footer .footer-logos img:hover {
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
footer .copyright {
    color: #aaa;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 40%;
}

/* Landing Page */

.trazo {
    position: absolute;
    top: 45px;
    left: 50%;
    z-index: 100;
}
.bg-flywing {
    background-image: url('../img/fly_texture.png');
    background-position: bottom;
    background-size: 330px;
    background-repeat: repeat-x;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
}
.searchbox {
    background-color: #eeefef;
    text-align: center;
    padding: 60px 0 60px;
    margin-bottom: 30px;
    position: absolute;
    width: 100%;
    top: 0;
}
.searchbox img {
    height: 120px;
    margin: 10px;
}
.header-fly {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 0;
}
.docsets {
    background-color: white;
    color: #3399FF;
    padding: 60px 0 80px;
    margin-top: 212px;
}
.docsets .ry-table {
    color: #3399FF;
    text-align: center;
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;
}
.docsets .ry-table-header {
    color: #FDB231;
    padding: 5px;
}
.docsets .ry-table-row {
    float: left;
    width: 100%;
    background-color: #ececec;
    border: 1px solid #39F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 10px;
    padding: 10px;
}
.docsets .ry-table-row:hover {
    background-color: #FFF;
    border: 1px solid #fdb436;
}
.docsets .ry-table-row div {
    float: left;
    width: 20%;
}
.docsets .ry-table-row span {
    margin-top: 8px;
    float: left;
    width: 100%;
}
.docsets table td {
    margin: 0;
    padding: 5px;
}
.docsets table tbody tr {
}
.docsets table td.docset-logo {
    text-align: right;
}
.docsets table td.docset-name {
}
.ok-state {
    color: green;
}
.off-state {
    color: red;
}
.description {
    background-color: #3399FF;
    padding: 60px 0;
    background-size: cover;
    text-align: justify;
    color: white;
    font-size: 1.2em;
    -webkit-box-shadow: 0px -3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -3px 10px 0px rgba(50, 50, 50, 0.75);
}
.description span {
    width: 520px;
    float: right;
    margin: 10px 0;
}
.contact {
    font-size: 1.2em;
    background-color: #ececec;
    padding: 60px 0;
    background-image: url("../img/big-bluefly.png");
    background-repeat: no-repeat;
    background-position: center top;
    color: #3399FF;
}
.contact input.ry-input-text {
    width: 100%;
    margin-bottom: 15px;
}

/* Cookies */
.cookiesms{
    width: 100%;
    height: 60px;
    padding-left: 1%;
    padding-top: 15px;
    clear: both;
    color: #FFF;
    bottom: 0px;
    position: fixed;
    background-color: #000;
    opacity: 0.85;
    filter: alpha(opacity=85);
    z-index: 999999999;
}

#tree-view .selected a {
    font-weight: bold;
    border-left: 3px solid #fdb436;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 0 3px 5px;
}
