body, fieldset, p {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    margin-top: 72px;
    overflow: hidden;
    margin-bottom: 60px;
}
div {
    box-sizing: border-box;
}
a {
    color: #3399FF;
    text-decoration: none;
}
a:hover, a.current {
    color: #FF8311;
    text-decoration: underline;
}
h1 {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    line-height: 100px;
    height: 100px;
}
p {
    margin-top: 5px;
}
code {
    background-color: #d2e4f7;
}
pre {
    background-color: #d2e4f7;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.75);
}
header {
    background-color: #FFF;
    border-bottom: 1px solid #d2e4f7;
    float: left;
    height: 60px;
    width: 100%;
    position: absolute;
    padding: 5px 0;
    top: 0px;
}
header img {
    margin-left: 40px;
}
footer {
    border-top: 1 solid #fdb436;
    width: 100%;
    padding-bottom: 5px;
    float: left;
}
footer .center-block {
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
}
footer .footer-links {
    float: left;
    margin-top: 10px;
    width: 30%;
}
footer .footer-links a {
    color: #a7ccf2;
    text-decoration: none;
    margin: 0 10px;
}
footer .footer-links a:hover {
    color: #3399ff;
}
footer .footer-logos {
    float: right;
    height: 34px;
    text-align: right;
    width: 30%;
    margin-top: 9px;
}
footer .footer-logos img {
    margin-right: 10px;
}
footer .copyright {
    color: #a7ccf2;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 40%;
}
.centered-text {
    text-align: center;
}
.floated {
    float: left;
}
.floated-right {
    float: right;
}
#search-view fieldset {
    top: 18px;
    position: absolute;
    left: 150px;
    width: 20%;
}
#content {
}
#left-pane {
    float: left;
    width: 30%;
    height: 100%;
    overflow: auto;
}
/* Treeview Outline */
#tree-view, #outline-view {
    width: 100%;
    background-color: white;
    padding: 20px;
	height: 50%;
	overflow: auto;
}
#tree-view ul {
    list-style-type: none;
}

#results {
    margin: 10px 0;
}
#result {
    width: 70%;
    float: left;
    padding: 20px;
    height: 100%;
    overflow: auto;
}
td.separator {
    width: 5px;
}
.cursive {
    font-style: italic;
}
#search-view .ry-input-text {
    background-color: #f5f7f7;
}
#search-view ul {
    list-style-type: none;
}
#search-view li {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
}
.ry-type-source {
    margin: 0 10px -3px -27px;
}
.ry-input-text:focus {
    outline: 0 none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #3399FF;
}
#left-pane .ry-input-text {
    width: 100%;
}
.ry-input-text {
    color: #333;
    background-color: #fff;
    border: 1px solid #d2e4f7;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    height: 35px;
    min-width: 30%;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 1.2em;
}
textarea.ry-input-text {
    height: 100px;
    max-height: 200px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.contact input.ry-input-text {
    width: 100%;
    margin-bottom: 15px;
}
.ry-btn {
    border: 0 none;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    height: 30px;
    color: white;
    background-color: #3399FF;
    text-indent:0;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    font-weight: bold;
    font-size: 1em;
}
.ry-btn:hover {
    background-color: #fdb436;
}

.noresult{
	border: 1px solid red;
	color: red;
}

#center {
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
background: #83C24A;
height: 100px;
width: 200px;
box-shadow: 0 0 4px rgba(0,0,0,.3);
}

/* Landing Page */

.center-content {
    margin: 0 auto;
    display: table;
}
.span3 {
    width: 600px;
}
.span4 {
    width: 800px;
}
.trazo {
    position: absolute;
    top: 45px;
    left: 50%;
    z-index: 100;
}
.bg-flywing {
    background-image: url('../img/fly_texture.png');
    background-position: bottom;
    background-size: 330px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
}
.searchbox {
    background-color: #eeefef;
    text-align: center;
    padding: 60px 0 60px;
    margin-bottom: 30px;
    position: absolute;
    width: 100%;
    top: 0;
}
.searchbox img {
    height: 120px;
    margin: 10px;
}
.header-fly {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 0;
}
.docsets {
    background-color: white;
    color: #3399FF;
    padding: 100px 0;
    margin-top: 280px;
}
.docsets table {
    color: #3399FF;
    text-align: center;
    margin-top: 60px;
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
}
.docsets table th {
    color: #FDB231;
    padding: 5px;
}
.docsets table td {
    margin: 0;
    padding: 5px;
    border-top: 2px solid #d2e4f7;
}
.docsets table td.docset-logo {
    text-align: right;
}
.docsets table td.docset-name {
}
.ok-state {
    color: green;
}
.off-state {
    color: red;
}
.description {
    background-color: #3399FF;
    padding: 60px 0;
    background-size: cover;
    text-align: justify;
    color: white;
    font-size: 1.2em;
    -webkit-box-shadow: 0px -3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -3px 10px 0px rgba(50, 50, 50, 0.75);
}
.description span {
    width: 520px;
    float: right;
    margin: 10px 0;
}
.contact {
    font-size: 1.2em;
    background-color: #d2e4f7;
    padding: 60px 0;
    background-image: url("../img/big-bluefly.png");
    background-repeat: no-repeat;
    background-position: center top;
    color: #3399FF;
}
