.mainhead{
    position: relative;
	background-color: #222222;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	height: 150px;
}
#header{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 80%;
    margin: auto;
}
.mainhead h1{
	font-weight: bold;
}
.imageexample{
	margin: 10px;
	margin-bottom: 40px;
}
.paragraph{
	clear: both;
	padding-bottom: 10px;
}
.center{
	margin-bottom: 50px;
	clear: both;
	text-align: center;
}