._welcome .mainhead{
    position: relative;
	background-color: #222222;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	min-height: 200px;
}
._welcome #header{
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    vertical-align: middle;
}
._welcome .mainhead h1{
	font-weight: bold;
}
._welcome .imageexamples li{
	list-style-type:none;
	display: inline-block;
	padding: 25px;
	margin-bottom: 20px;
}

._welcome .paragraph{
	clear: both;
	padding-bottom: 10px;
	text-align: justify;
}
._welcome .center{
	margin-bottom: 50px;
	clear: both;
	text-align: center;
}