._welcome .mainhead{
    position: relative;
	background-color: #222222;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	min-height: 150px;
}
._welcome #header{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
}
._welcome .mainhead h1{
	font-weight: bold;
}
._welcome .imageexample{
	margin: 10px;
	margin-bottom: 40px;
}
._welcome .paragraph{
	clear: both;
	padding-bottom: 10px;
}
._welcome .center{
	margin-bottom: 50px;
	clear: both;
	text-align: center;
}