//- info.jade
doctype html
html
    include ./includes/head.jade
    body#offer
        include ./includes/header.jade
        div.container-fluid
            div.row.white-row.landing-row
                div.col-xs-12.text-center
                    h1 Mensaje provisional de error. La hemos liao muy parda.
       include ./includes/footer.jade


